body {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(to bottom, #007c51, #014629);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.App-header {
  background: linear-gradient(to bottom, #007c51, #014629);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.deck img {
  width: 200px;
  height: auto;
  margin: 5px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:hover {
  background-color: #1d9723;
}